{{#ifEqual index 0}}
    <div class="item app-item active">
{{else}}
    <div class="item app-item">
{{/ifEqual}}

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <img class="app-logo img-responsive" src="{{ image }}">
            </div>

            <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7">
                <h1 class="app-name">{{ name }}</h1>

                <p id="rating-{{ index }}" class="rating"></p>

                <br>

                <div class="row app-actions">
                    <div id="launch-install-button" class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        {{#if available}}
                            <i class="fa fa-rocket" onclick="IESCitiesPlayer.launchApplication('{{ packageName }}');"></i>
                        {{else}}
                            <i class="fa fa-download" onclick="Restlogging.logAppCustom('Download intent: {{ packageName }}'); cordova.plugins.market.open('{{ packageName }}');"></i>
                        {{/if}}

                    </div>

                    <div id="more-info-button" class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        <span onclick="IESCitiesPlayer.displayAppDatasets({{ appId }}, {{ index }});">
                            <i class="fa fa-info-circle"></i>
                        </span>
                    </div>

                    <div id="map-button" class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        <span onclick="IESCitiesPlayer.displayAppMap({{ appId }}, {{ index }});">
                            <i class="fa fa-globe"></i>
                        </span>
                    </div>

                    <div id="comments-button" class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        <span onclick="IESCitiesPlayer.displayAppComments({{ appId }}, {{ index }});">
                            <i class="fa fa-comments-o"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>  <!-- end .row -->

        <br><br>

        <div class="row tags-and-definition">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <ul class="tag-list">
                    {{#each tags}}
                        <li>
                            <div onclick="IESCitiesPlayer.keywordSearch('{{this}}');">
                                <i class="fa fa-tag"></i>&emsp;{{ this }}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>

            <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7" id="app-description-col">
                <p class="app-description">
                    {{ description }}
                </p>
            </div>
        </div>  <!-- end .row -->
    </div>  <!-- end .item app-item -->
