<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
		    <img class="app-logo img-responsive" src="{{ image }}">
		</div>

		<div class="col-md-7 col-sm-7 col-xs-7 col-lg-7">
		    <h1 class="app-name">{{ name }}</h1>
		</div>
	</div>
</div>