{{#ifEqual number 0}}
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
{{else}}
    <li data-target="#carousel-example-generic" data-slide-to="{{ number }}"></li>
{{/ifEqual}}
