<div class="comment-item">
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
            <blockquote>
                <p>{{ title }}</p>
                <footer>
                    <strong>{{ userName }}</strong>
                    &emsp;&emsp;
                    <span class="comment-date">{{prettifyDate date }}</span>
                </footer>
            </blockquote>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <span class="comment-rating">{{ rating }}<strong>/5</strong></span>
        </div>
    </div>

    <p class="comment-text">{{ comment }}</p>
</div>
