<div class="dataset-item">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <img class="rdf-icon" src="../img/rdf.png"/>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
            <h1>{{ name}}</h1>
        </div>
    </div>

    <p>{{ description }}</p>
</div>
