/*
    General properties
*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-top: 70px;

    background-color: #eaedf1;
}

html {
    height: 100%;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    height: auto;
}

.navbar-inverse .navbar-brand {
    color: #eaedf1;
}

#radius-button {
    position: absolute;
    margin-top: 6px;
    right: 0.75em;
}

#main-container {
    background-color: white;
    border-radius: 5px;
    margin: 1em;
    margin-top: 0em;
    border: 1px solid #bcc6d2;
    height: calc(100% - 12px);
}
.centered {
    text-align: center;
}


/*
    Map
*/

#map {
    width: 100%;
    height: 100%;
}

.player-section {
    border-bottom: 7px solid #fc3;
}

.player-section-title {
    padding: 0.5em 2em 0.5em 1em;   /* top right bottom left */
    font-size: 18px;
    height: 30px;
    background-color: #fc3;
    position: relative;
}

.player-section-title:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 32px solid white;
    border-left: 32px solid #fc3;
    width: 0;
}


/*
    Logo
*/

.logo-div {
    border-bottom: 5px solid #fc3;
    margin-bottom: 2.5em;
}

#ies-cities-logo {
    height: 30px;
    top: 5px;
    vertical-align: initial;
}

.navbar-brand {
    font-size: 2em;
    height: 100%;
    padding: 10px 10px;
}

.input-group > input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 39px;
}

.input-group > input:focus {
    border-color: #fc3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 204, 51, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 204, 51, 0.6);
}

/*.input-group-btn > button {
    background-color: #fc3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 137%;
}*/

/*.input-group-btn > button:hover {
    background-color: #e5b72d;
}*/

/*
    Form
*/
form {
    margin-bottom: 0em;
}

#clear-button {
    display: none;
}

/*
    Carousel
*/

#play-resume {
    color: #fc3;
    padding-right: 5%;
}

#carousel-example-generic {
    background-color: #eee;
    border-top: 3px solid #fc3;
    border-bottom: 3px solid #fc3;
    margin: 0em;
    padding-top: 5px;
    height: 61%;
}

.carousel-control.right, .carousel-control.left {
    background: transparent;
}

.app-item {
    padding-bottom: 1.5em;
    /*padding: 1em;*/
}

.tags-and-definition {
    height: 50%;
    overflow: hidden;
    margin-top: -25px;
}

.app-item > p {
    text-align: justify;
}

.app-logo {
    width: 90%;
    margin-left: 10px;
}

#app-description-col {
    padding: 0;
}

.app-description {
    font-size: 1em;
    text-align: justify;
    height: 350px;
    overflow-y: auto;
}

.tag-list {
    list-style-type: none;
    padding-left: 10px;
    overflow: auto; 
}

.tag-list > li {
    margin-bottom: 0.25em;
    font-size: 1em;

}

.tag-list > li > a {
    color: black;
    text-decoration: none;
}

.fa-tag {
    color: #fc3;
    font-size: 1.2em;
}

.fa-5 {
    font-size: 2.5em;
}

.fa-chevron-circle-right {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #fc3;
}

.fa-chevron-circle-left {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #fc3;
}

.fa-map-marker {
    font-size: 1.30em;
    color: red;
    margin-right: 1.5em;
}

.around-me-div {
    margin-bottom: 0.5em;
}

.around-me-div > button {
    font-size: 2em;
}

.rating {
    display: block;
    margin-left: 2.5em;
    margin-top: 1.5em;
}

.fa-star, .fa-star-half-o, .fa-star-o {
    font-size: 2em;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators > li {
    border: 1px solid #fc3;
}

.carousel-indicators .active {
    background-color: #fc3;
}

.dropdown-menu > li > span {
    display: block;
    padding-left: 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    font-size: 1.5em;
    white-space: nowrap;
}

#search-box {
    display: block;
    margin: 1.5em 1.5em 0em 1.5em;
}

.app-popup {
    text-decoration: none;
}

.app-popup > img {
    width: 40%;
}

.app-popup > h1 {
    font-size: 1.5em;
}

/*
    Search results list
*/

.search-result-marker {
    background-color: grey;
}

.table > tbody > tr > td.search-result-body {
    background-color: #fc3;
    padding-left: 2.5em;
    padding-right: 1.5em;
}

.table > tbody > tr > td.search-result-body > p {
    text-align: justify;
}

.btn-ies {
    color: #000;
    background-color: #fc3;
    border-color: #e5b72d;
}

.btn-ies:hover {
    color: #000;
    background-color: #e5b72d;
    border-color: #cea428;
}

.app-details-button {
    margin-top: 1em;
}

.app-actions > div {
    display: block;
    font-size: 0.5em;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}

.app-actions i {
    font-size: 2.5em;
    color: white;
}

#launch-install-button {
    background-color: #3cc0d7;
}

#more-info-button {
    background-color: #f27935;
}

#map-button {
    background-color: #d61414;
}

#comments-button {
    background-color: #41a62a;
}

/*
    blue: #3cc0d7;
    orange: #f27935;
    green: #41a62a;
    red: #d61414;
*/

.dataset-item {
    margin-top: 1.5em;
    padding: 2.5em;
    background-color: #eaedf1;
    border-top: 3px solid #bcc6d2;
    border-bottom: 3px solid #bcc6d2;
}

.dataset-item h1 {
    margin: 0;
}

.dataset-item > p {
    text-align: justify;
    margin-top: 1.5em;
    font-size: 1.25em;
}

.rdf-icon {
    margin-left: 1em;
}

/*#comments {
    min-height: 100%;
}*/

.comment-item {
    margin-top: 1.5em;
    padding: 2.5em;
    border-top: 3px solid #fc3;
    border-bottom: 3px solid #fc3;
}

.comment-item blockquote {
    margin-bottom: 0;
}

.comment-date {
    font-size: 0.85em;
}

.comment-rating {
    font-size: 1em;
}

.comment-text {
    text-align: justify;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-size: 1em;
}

#message {
    padding: 0 1.5em 0 1.5em;
}

#ies-cities-info {
    position: absolute;
    top: 0.62em;
    right: 0.75em;
    color: white;
    font-size: 2em;
}

#info {
    width: 100%;
    height: 100%;
}

#info > p:nth-of-type(1) {
    margin: 10px 12px 0px 12px;
    font-size: 1em;
    text-align: justify
}

#info > p:nth-of-type(2) {
    margin: 0px 12px 0px 12px;
    font-size: 1em;
    text-align: justify
}

#info > div {
    margin-right: 0;
    margin-left: 0;
}

#info > div > div > img {
    width: 100%;
}

#second-row {
    margin-top: -35px;
}

.modal-dialog {
    height: 90%;
    max-height: 90%;
}

#searchDistance {
    overflow: visible;
}

#search-header {
    text-align: center;
    border-bottom: none;
}

#search-body {
    overflow-y: visible;
}

#search-container {
    text-align: center;
}

#search-footer {
    border-top: none;
    overflow: visible;
}

#tos-link {
    position: absolute;
    bottom: 0.5em;
}

#tosclose {
    font-size: 1.5em;
    margin-top: 15px;
}


/* index.html */
#tos-link {
    font-size: 3.25em;
}
.modal-header > button {
    font-size: 5.5em;
}
.modal-title {
    font-size: 2em;
}

#modal-body {
    overflow-y: auto;
    padding: 50px; 
    max-height: 88%;
}

.modal-body > h1 {
    font-size: 4em;
}

.modal-body > p {
    font-size: 3.5em;
}

.modal-body > ol {
    padding-left: 10em;
}

.modal-body > ol > li {
    font-size: 2.7em;
}

/* navbar component */

nav.navbar.navbar-inverse.navbar-fixed-top {
    height: auto;
}

/* main.html */
#input_text {
    font-size: 1.5em;
}

.input-group-btn{
    font-size: 12px;
}

.input-group-btn > button {
    font-size: 1.5em;
}

.around-me-div > button {
    font-size: 1.5em;
}

.fa-map-marker {
    margin-right: 0em;
}

.fa fa-info {
    vertical-align: middle;
}

.player-section-title {
    padding-right: 1em;
}

.player-section-title:before {
    border-top: 1.95em solid white;
    border-left: 1.5em solid transparent;
    right: -0.15em;
    top: -3px;
}

#play-resume {
    font-size: 2em;
    display: flex;
}

.app-name {
    font-size: 1.5em;
    margin-top: 0em;
}

.rating {
    margin-left: 0em;
    font-size: 0.5em;
    margin-bottom: 0em;
}

.app-actions i {
    font-size: 3.5em;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #fc3;
}

/*
    app_dataset.html
*/

#appheader > div {
    margin-top: 10px;
}

.dataset-item h1 {
    font-size: 1.5em;
    margin-left: 10px;
}

.dataset-item > p {
    margin-top: 1em;
    font-size: 1em;
}

/* map.html */
#radius-button > button {
    font-size: 1.5em;
}

#distance {
    font-size: 1.5em;
    width: 100%;
}

#unit {
    font-size: 1.5em;
}

.leaflet-control-container {
    display: none;
}

.leaflet-popup-content {
    font-size: 1.5em;
}

/*#search-container {   
    padding-left: 12em;
    padding-right: 12em;
}*/

#search-button {
    margin-top: 1.25em;
    font-size: 1.5em;
}

/* app_comments.html */
#message > p {
    font-size: 1em;
    margin-top: 0em;
}

.comment-item * blockquote {
    font-size: 1em;
}

/*
    view_app
*/

#app {
    margin-top: 10px;
}
