/*
    General properties
*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-top: 70px;

    background-color: #eaedf1;
}



html {
    height: 100%;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    height: auto;
}

.navbar-inverse .navbar-brand {
    color: #eaedf1;
}

#radius-button {
    margin-top: 1.5em;
}

#main-container {
    background-color: white;
    border-radius: 5px;
    margin: 2.5em;
    border: 1px solid #bcc6d2;
    height: 95%;
}
.centered {
    text-align: center;
}


/*
    Map
*/

#map {
    width: 100%;
    height: 100%;
}

.player-section {
    border-right: 7px solid white;
    border-bottom: 7px solid #fc3;
}

.player-section-title {
    padding: 0.5em 2em 0.5em 1em;   /* top right bottom left */
    font-size: 18px;
    height: 30px;
    background-color: #fc3;
    position: relative;
}

.player-section-title:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 32px solid white;
    border-left: 32px solid #fc3;
    width: 0;
}


/*
    Logo
*/

.logo-div {
    border-bottom: 5px solid #fc3;
    margin-bottom: 2.5em;
}

#ies-cities-logo {
    height: 40px;
    top: 5px;
    margin-right: 1.5em;
}

.navbar-brand {
    font-size: 2em;
    height: 100%;
}

/*
    Form
*/

form {
    margin-bottom: 2.5em;
}

.input-group > input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    height: 200%;
}


.input-group > input:focus {
    border-color: #fc3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 204, 51, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 204, 51, 0.6);
}

.input-group-btn > button {
    background-color: #fc3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    /*height: 137%;*/
}

.input-group-btn > button:hover {
    background-color: #e5b72d;
}


/*
    Carousel
*/

#play-resume {
    color: #fc3;
    padding-right: 5%;
}

#carousel-example-generic {
    background-color: #eee;
    border-top: 3px solid #fc3;
    border-bottom: 3px solid #fc3;
    margin: 0 0 1.5em;
    padding-top: 1.5em;
    height: 75%;
}

.carousel-control.right, .carousel-control.left {
    background: transparent;
}

.app-item {
    padding-bottom: 1.5em;
    /*padding: 1em;*/
}

.tags-and-definition {
    height: 50%;
    overflow: hidden;
}

.app-item > p {
    text-align: justify;
}

.app-logo {
    margin-right: 1.5em;
    margin-top: 20px;
    width: 90%;
}

.app-description {
    font-size: 1.5em;
    text-align: justify;
    height: 350px;
    overflow-y: auto;
}

.tag-list {
    list-style-type: none;
    padding-top: 1.5em;
    padding-left: 10px;
    overflow: auto; 
}

.tag-list > li {
    margin-bottom: 0.75em;
    font-size: 1.25em;

}

.tag-list > li > a {
    color: black;
    text-decoration: none;
}

.fa-tag {
    color: #fc3;
    font-size: 1.25em;
}

.fa-5 {
    font-size: 2.5em;
}

.fa-chevron-circle-right {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #fc3;
}

.fa-chevron-circle-left {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #fc3;
}

.fa-map-marker {
    font-size: 1.25em;
    color: red;
    margin-right: 1.5em;
}

.around-me-div {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.around-me-div > button {
    font-size: 2em;
}

.rating {
    display: block;
    margin-left: 2.5em;
    margin-top: 1.5em;
}

.fa-star, .fa-star-half-o, .fa-star-o {
    font-size: 2em;
}

.carousel-indicators > li {
    border: 1px solid #fc3;
}

.carousel-indicators .active {
    background-color: #fc3;
}

.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

#search-box {
    display: block;
    margin: 1.5em;
}

.app-popup {
    text-decoration: none;
}

.app-popup > img {
    width: 40%;
}

.app-popup > h1 {
    font-size: 1.5em;
}

/*
    Search results list
*/

.search-result-marker {
    background-color: grey;
}

.table > tbody > tr > td.search-result-body {
    background-color: #fc3;
    padding-left: 2.5em;
    padding-right: 1.5em;
}

.table > tbody > tr > td.search-result-body > p {
    text-align: justify;
}

.btn-ies {
    color: #000;
    background-color: #fc3;
    border-color: #e5b72d;
}

.btn-ies:hover {
    color: #000;
    background-color: #e5b72d;
    border-color: #cea428;
}

.app-details-button {
    margin-top: 1em;
}

.app-actions > div {
    display: block;
    font-size: 1.25em;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

.app-actions i {
    font-size: 2.5em;
    color: white;
}

#launch-install-button {
    background-color: #3cc0d7;
}

#more-info-button {
    background-color: #f27935;
}

#map-button {
    background-color: #d61414;
}

#comments-button {
    background-color: #41a62a;
}

/*
    blue: #3cc0d7;
    orange: #f27935;
    green: #41a62a;
    red: #d61414;
*/

.dataset-item {
    margin-top: 1.5em;
    padding: 2.5em;
    background-color: #eaedf1;
    border-top: 3px solid #bcc6d2;
    border-bottom: 3px solid #bcc6d2;
}

.dataset-item h1 {
    margin: 0;
}

.dataset-item > p {
    text-align: justify;
    margin-top: 1.5em;
    font-size: 1.25em;
}

.rdf-icon {
    margin-left: 1em;
}

/*#comments {
    min-height: 100%;
}*/

.comment-item {
    margin-top: 1.5em;
    padding: 2.5em;
    border-top: 3px solid #fc3;
    border-bottom: 3px solid #fc3;
}

.comment-item blockquote {
    margin-bottom: 0;
}

.comment-date {
    font-size: 0.85em;
}

.comment-rating {
    font-size: 2.5em;
}

.comment-text {
    text-align: justify;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-size: 1.25em;
}

#message {
    padding: 2.5em;
}

#ies-cities-info {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    color: white;
    font-size: 2em;
}

#info {
    width: 100%;
    height: 100%;
}

#info > p {
    margin: 2.5em;
    font-size: 1.5em;
}

.modal-dialog {
    width: 90%;
    height: 90%;
    max-height: 90%;
}

#searchDistance {
    overflow: visible;
}

#search-header {
    text-align: center;
    border-bottom: none;
}

#search-body {
    overflow-y: visible;
}

#left-column {
    float: left;
}

#right-column {
    float:  right;
}

#search-container {
    text-align: center;
}

#search-footer {
    border-top: none;
    overflow: visible;
}

#tos-link {
    position: absolute;
    bottom: 0.5em;
}

#tosclose {
    font-size: 2em;
}

@media only screen and (min-resolution: 1dppx) and (max-resolution: 1.99dppx) {
    /* navbar component */
    .navbar navbar-inverse navbar-fixed-top {
        margin-bottom: 0em;
    }

    .navbar-brand {
        padding-bottom: 0.15em;
    }

    /* main.html */
    #main-container {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    #search-box {
        margin-bottom: 0em;
    }

    #input_text {
        font-size: 1.75em;
    }

    .input-group-btn{
        font-size: 12px;
    }

    .input-group-btn > button {
        font-size: 1.75em;
    }

    .around-me-div {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .around-me-div > button {
        font-size: 1.75em;
        margin-top: 0em;
    }

    .fa-map-marker {
        margin-right: 0em;
    }

    .player-section-title:before {
        top: -0.05em;
        right: -0.05em;
    }

    #play-resume {
        font-size: 1.75em;
    }

    #carousel-example-generic {
        padding-top: 0em;
        height: 72%;
    }

    .app-name {
        font-size: 2em;
    }

    .rating {
        margin-left: 0em;
        font-size: 1em;
        margin-bottom: 0em;
    }

    .app-actions i {
        font-size: 1.5em;
    }

    .tags-and-definition {
        margin-top: -1.75em;
    }

    .app-description {
        font-size: 1.5em;
        height: 10em;
    }

    .tag-list {
        padding-top: 1.05em;
        height: 14em;
        overflow-y: scroll;
    }

    .tag-list > li {
        font-size: 1.1em;
    }

    /* info.html */
    #info > p {
        margin: 0.75em 2em;
        font-size: 1.5em;
    }

    #first-row * img, #second-row * img {
        width: 150px;
    }

    #first-row, #second-row {
        margin-top: -2.5em;
    }

     /* app_dataset.html */
    .dataset-item h1 {
        font-size: 2em;
    }

    .dataset-item {
        margin-top: 1em;
    }

    .dataset-item > p {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    /* map.html */
    #radius-button {  
        position: absolute;
        top: -1em;
        right: 1em;
    }

    #radius-button > button {
        font-size: 1.5em;
    }

    #myModalLabel {
        font-size: 2.5em;
    }

    #distance{
        font-size: 1.8em
    }

    #unit {
        font-size: 1.5em;
    }

     #search-container {   
        padding-left: 4em;
        padding-right: 4em;
    }

    #search-button {
        margin-top: 1em;
        font-size: 1.5em;
    }

    .dropdown-menu > li > span {
        font-size: 1.75em;
    }

    .leaflet-control-container {
        display: none;
    }

    .leaflet-popup-content {
        font-size: 1.75em;
    }

    /* app_comments.html */
    #message > p {
        font-size: 1.75em;
        margin-top: 0em;
    }

    .comment-item * blockquote {
        font-size: 1.5em;
    }

    .comment-rating {
        font-size: 2em;
    }

    .comment-text {
        font-size: 1.7em;
    }
}

@media only screen and (min-resolution: 2dppx) and (max-resolution: 2.49dppx) {
    /* index.html */
    #tos-link {
        font-size: 2.25em;
    }

    .modal-header > button {
        font-size: 4.25em;
    }

    .modal-title {
        font-size: 3.5em;
    }

    .modal-body > h1 {
        font-size: 3.2em;
    }

    .modal-body > p {
        font-size: 2.25em;
    }

    .modal-body > ol {
        padding-left: 7em;
    }

    .modal-body > ol > li {
        font-size: 2.3em;
    }

    #tosclose {
        font-size: 2.25em;
    }

    /* navbar component */
    nav.navbar.navbar-inverse.navbar-fixed-top {
        height: auto;
    }

    #ies-cities-logo {
        vertical-align: initial;
        margin-right: 0.5em;
        height: 40px;
    }

    .navbar-brand {
        font-size: 3.75em;
    }

    /* main.html */
    #input_text {
        font-size: 2.5em;
    }

    .input-group-btn{
        font-size: 12px;
    }

    .input-group-btn > button {
        font-size: 2.5em;
    }

    .around-me-div > button {
        font-size: 2.5em;
    }


    .fa-map-marker {
        margin-right: 0em;
    }

    .fa fa-info {
        vertical-align: middle;
    }

    #ies-cities-info {
        font-size: 2.5em;
        float: right;
    }

    .player-section-title {
        font-size: 2.5em;
        padding-right: 1em;
    }

    .player-section-title:before {
        border-top: 55px solid white;
        border-left: 33px solid transparent;
        top: -0.05em;
        right: -0.05em;
    }

    #play-resume {
        font-size: 2.5em;
    }

    .app-name {
        font-size: 2.75em;
    }

    .rating {
        margin-left: 0em;
        font-size: 1em;
    }

    .app-actions i {
        font-size: 2.5em;
    }

    .app-description {
        font-size: 2em;
        height: 13em;
    }

    .tag-list > li {
        font-size: 1.8em;
    }

    .carousel-indicators .active {
        width: 35px;
        height: 35px;
        border-radius: 35px;
    }

    .carousel-indicators li {
        width: 35px;
        height: 35px;
        border-radius: 35px;
        border: 2px solid #fc3;
    }

    /* info.html */
    #info > p {
        margin: 1em 2.5em;
        font-size: 2.5em;
    }

    /* app_dataset.html */
    .dataset-item h1 {
        font-size: 2.75em;
    }

    .dataset-item > p {
        margin-top: 1em;
        font-size: 2em;
    }

    /* map.html */
    #radius-button > button {
        font-size: 2.25em;
    }

    .dropdown-menu > li > span {
        font-size: 2em;
    }

    .leaflet-control-container {
        display: none;
    }

    .leaflet-popup-content {
        font-size: 2em;
    }

    #distance {
        font-size:  2.25em;
    }

    #unit {
        font-size: 2.25em;
    }

    #search-container {   
        padding-left: 8em;
        padding-right: 14em;
    }

    #search-button {
        margin-top: 1em;
        font-size: 2.25em;
    }

    /* app_comments.html */
    #message > p {
        font-size: 2.5em;
        margin-top: 0em;
    }

    .comment-item * blockquote {
        font-size: 2.25em;
    }

    .comment-rating {
        font-size: 2.5em;
    }

    .comment-text {
        font-size: 2.25em;
    }
}

@media only screen and (min-resolution: 2.5dppx) {
    /* index.html */
    #tos-link {
        font-size: 3.25em;
    }
    .modal-header > button {
        font-size: 5.5em;
    }
    .modal-title {
        font-size: 4.5em;
    }

    #modal-body {
        overflow-y: auto;
        padding: 50px; 
        max-height: 88%;
    }

    .modal-body > h1 {
        font-size: 4em;
    }

    .modal-body > p {
        font-size: 3.5em;
    }

    .modal-body > ol {
        padding-left: 10em;
    }

    .modal-body > ol > li {
        font-size: 2.7em;
    }

    #tosclose {
        font-size: 3em;
    }

    /* navbar component */

    nav.navbar.navbar-inverse.navbar-fixed-top {
        height: auto;
    }

    #ies-cities-logo {
        vertical-align: initial;
        margin-right: 0.5em;
        height: 50px;
    }

    .navbar-brand {
        font-size: 4.5em;
    }

    /* main.html */
    #input_text {
        font-size: 3.5em;
    }

    .input-group-btn{
        font-size: 12px;
    }

    .input-group-btn > button {
        font-size: 3.5em;
    }

    .around-me-div > button {
        font-size: 3.5em;
    }

    .fa-map-marker {
        margin-right: 0em;
    }

    .fa fa-info {
        vertical-align: middle;
    }

    #ies-cities-info {
        position: relative;
        top: 0.45em;
        right: 0em;
        font-size: 3.5em;
        float: right;
    }

    .player-section-title {
        font-size: 3.5em;
        padding-right: 1em;
    }

    .player-section-title:before {
        border-top: 1.95em solid white;
        border-left: 1.5em solid transparent;
        right: -0.25em;
        top: -0.05em;
    }

    #play-resume {
        font-size: 3.5em;
    }

    .app-name {
        font-size: 3.7em;
    }

    .rating {
        margin-left: 0em;
        font-size: 1.5em;
    }

    .app-actions i {
        font-size: 3.5em;
    }

    .app-description {
        font-size: 3em;
        height: 18em;
    }

    .tag-list > li {
        font-size: 2.4em;
    }

    .carousel-indicators .active {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .carousel-indicators li {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 2px solid #fc3;
    }

    /* info.html */
    #info > p {
        margin: 1em 2.5em;
        font-size: 3.5em;
    }

    /* app_dataset.html */
    .dataset-item h1 {
        font-size: 3.5em;
    }

    .dataset-item > p {
        margin-top: 1em;
        font-size: 2.8em;
    }

    /* map.html */
    #radius-button > button {
        font-size: 2.8em;
    }

    #distance {
        font-size: 3em;
    }

    #unit {
        font-size: 3em;
    }

    .dropdown-menu > li > span {
        font-size: 2.5em;
    }

    .leaflet-control-container {
        display: none;
    }

    .leaflet-popup-content {
        font-size: 2.5em;
    }

    #search-container {   
        padding-left: 12em;
        padding-right: 12em;
    }

    #search-button {
        margin-top: 1.25em;
        font-size: 2.5em;
    }

    /* app_comments.html */
    #message > p {
        font-size: 3em;
        margin-top: 0em;
    }

    .comment-item * blockquote {
        font-size: 3em;
    }

    .comment-rating {
        font-size: 3.5em;
    }

    .comment-text {
        font-size: 3.2em;
    }
}